* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Khula', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
}

.header {
	border-bottom: 1px solid #000;
}

.header h1 {
	font-weight: normal;
	font-size: 45px;
	margin-left: 35px;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}

.track span {
	display: block;
	width: 300px;
	font-size: 22px;
	text-align: center;
}

.track img {
	display: block;
	height: 300px;
	width: 300px;
	box-shadow: 7px 7px 15px #888;
}

.track {
	margin: 30px 25px 30px 25px;
}

/*Lightbox*/
.lightbox {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
}

.lbContent {
	width: 640px;
	margin: 50px auto 0 auto;
}

#back {
	color: grey;
}

.lbContent img {
	width: 640px;
	height: 640px;
	background-color: #fff;
}

.lbContent div {
	background-color: #fff;
}

.lbContent h2 {
	margin: 0;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 620px;
	height: 20px;
	font-weight: normal;
	font-size: 25px;
	display: block;
}

.lbContent div span {
	padding-left: 10px;
	padding-bottom: 10px;
	width: 620px;
	height: 20px;
	font-size: 20px;
	color: #000;
	display: block;
}